//base
$accent-bg: #222222;
$accent-text: #222222;
$accent-details: #F16D7F;
$accent-btn: #ffffff;
$lighteen-text: #ffffff;
$lite-accent-text: rgba(159, 159, 159, 0.35);
$lite2-accent-text: #FBFBFB;
$darken-text: #000000;


//nav
$nav-bg-color: #ffffff;
$nav-title: #000000;
$nav-link: #6F6E6E;

//header
$header-search-hover: #29292a;

//promo
$promo-bg: #F1E4E6;

//chapter
$chapter-bg: #f8f3f4;

//breadcrumb
$breadcrumb-text: #636363;


//button
$btn-bg: #FFFFFF;
$btn-bg-bright: #F26376;
$btn-text: #000000;
$btn-text-bright: #ffffff;
$btn-text-bright-less: #2f2f2f;
$btn-border: #A4A4A4;

//subscribes
$subscr-input: #E1E1E1;
$subscr-input-hover: #cacaca;

//product
$form-add-border-top: #eaeaea;
$btn-next-hover: #e3e3e3;
$btn-next: #d8d8d8;