.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1140px; }

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

a,
a:hover,
a:focus {
  text-decoration: none; }

ul {
  list-style-type: none; }

.visually-hidden {
  display: none; }

.header {
  background-color: #222222;
  position: relative; }

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header__item:not(:nth-of-type(1)) {
  margin-left: 25px; }

.header__item {
  cursor: pointer; }

.header__menu {
  margin-left: auto;
  padding: 20px; }
  @media (min-width: 768px) {
    .header__menu {
      position: relative; } }

.header__search {
  flex-basis: 70%;
  margin-left: 16px; }

.header__nav {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 67px;
  width: 100%; }
  @media (min-width: 768px) {
    .header__nav {
      width: fit-content; } }

.header__account {
  display: none; }
  @media (min-width: 768px) {
    .header__account {
      display: block; } }

.header__trash {
  display: none; }
  @media (min-width: 768px) {
    .header__trash {
      display: block; } }

.header__icon {
  font-size: 1.7rem;
  color: #ffffff; }

.header__menu-btn {
  width: 25px; }

.search-form {
  display: flex;
  align-items: center;
  position: relative; }
  .search-form:hover .search-form__input {
    background-color: #29292a; }

.search-form__input {
  width: 100%;
  height: 28px;
  background-color: #222222;
  border: none;
  outline: none;
  color: #222222;
  padding-left: 40px; }

.search-form__icon {
  position: absolute; }

.promo {
  background-color: #F1E4E6; }

.promo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .promo__wrapper {
      justify-content: space-evenly; } }

@media (min-width: 768px) {
  .promo__pictures {
    background-image: url("../img/promo-pict.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 368px;
    background-size: contain; } }

@media (min-width: 1264px) {
  .promo__pictures {
    background-position: left;
    width: 50%;
    height: 768px; } }

.promo__content {
  margin-top: 148px;
  margin-bottom: 148px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px; }
  @media (min-width: 768px) {
    .promo__content {
      margin: 0;
      border-left: 12px solid #F16D7F;
      padding-left: 16px; } }

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 46px;
  color: #222222; }
  @media (min-width: 768px) {
    .promo__title {
      font-size: 44px;
      line-height: 53px; } }
  @media (min-width: 1264px) {
    .promo__title {
      font-size: 48px;
      line-height: 48px; } }

.promo__text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24x;
  color: #222222; }
  .promo__text span {
    color: #F16D7F; }
  @media (min-width: 768px) {
    .promo__text {
      font-size: 24px;
      line-height: 29x; } }
  @media (min-width: 1264px) {
    .promo__text {
      font-size: 32px;
      line-height: 32x; } }

.offer__wrapper {
  padding-top: 65px; }

.offer__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .offer__list {
      justify-content: space-between; } }

.offer__name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff; }

.offer__type {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F; }

.offer__link {
  width: 360px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s; }
  @media (min-width: 768px) {
    .offer__link {
      width: 30%;
      height: 200px; } }
  @media (min-width: 1264px) {
    .offer__link {
      width: 360px;
      height: 260px; } }
  .offer__link:hover {
    transform: scale(1.01); }

.offer__link:last-of-type {
  width: 100%;
  height: 180px; }

.offer__link:nth-of-type(1) {
  background-image: url("../img/offer-item-1.jpg"); }

.offer__link:nth-of-type(2) {
  background-image: url("../img/offer-item-2.jpg"); }

.offer__link:nth-of-type(3) {
  background-image: url("../img/offer-item-3.jpg"); }

.offer__link:nth-of-type(4) {
  background-image: url("../img/offer-item-4.jpg"); }

.products__wrapper {
  padding-top: 96px;
  padding-bottom: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.products__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center; }

.products__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(159, 159, 159, 0.35);
  text-align: center;
  margin-top: 5px; }

.products__list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  align-items: center; }

.products__link {
  margin-top: 63px; }

.card {
  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: 360px;
  transition: .3s; }
  .card:hover {
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.21); }
    .card:hover .card__img {
      filter: brightness(0.5); }
    .card:hover .card__btn {
      display: flex; }

.card__btn {
  color: #ffffff;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 12px;
  border: 1px solid #ffffff;
  background-color: transparent;
  display: none;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  transition: .2s; }
  .card__btn:hover {
    box-shadow: 0px 0px 8px white; }
  .card__btn:focus {
    transition: 0.3s;
    background-color: #F16D7F;
    border: 1px solid #ffffff; }

.card__btn-text {
  margin-left: 10px; }

.card__text {
  padding: 20px 18px; }

.card__title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000; }

.card__description {
  margin-top: 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(159, 159, 159, 0.35); }

.card__price {
  margin-top: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F; }

.card__img {
  width: 100%;
  max-width: 360px;
  transition: filter .5s; }

.advantages {
  background-color: #222222; }

.advantages__wrapper {
  padding-top: 104px;
  padding-bottom: 104px; }

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  gap: 30px;
  padding: 0; }
  @media (min-width: 1264px) {
    .advantages__list {
      flex-direction: row;
      justify-content: space-between; } }

.advantages__item {
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.advantages__title {
  margin-top: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB; }

.advantages__text {
  text-align: center;
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB; }

.review {
  background-image: url("../img/review-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.review__wrapper {
  padding-top: 96px;
  padding-bottom: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px; }
  @media (min-width: 768px) {
    .review__wrapper {
      flex-direction: row; } }

.review__content {
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.review__text {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222; }

.subscribe {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 360px; }
  @media (min-width: 768px) {
    .subscribe {
      margin-top: 0; } }

.subscribe__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222222; }

.subscribe__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222222; }

.subscribe__form {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.subscribe__input {
  padding: 17px 22px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222222;
  opacity: 0.67;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  outline: none;
  background-color: #E1E1E1;
  transition: .3s; }
  .subscribe__input:hover {
    background-color: #cacaca; }

.footer {
  background-color: #222222; }

.footer__wrapper {
  padding-top: 43px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse; }
  @media (min-width: 768px) {
    .footer__wrapper {
      padding-top: 30px;
      justify-content: space-between;
      flex-direction: row;
      align-items: center; } }

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 40px;
  text-align: center; }
  @media (min-width: 768px) {
    .footer__copyright {
      margin-top: 0; } }

.social {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; }
  @media (min-width: 768px) {
    .social {
      justify-content: space-between; } }

.social__item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.social__item:not(:nth-of-type(1)) {
  margin-left: 8px; }

.breadcrumb__list {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0; }
  @media (min-width: 768px) {
    .breadcrumb__list {
      margin-top: 0; } }

.breadcrumb__section {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(159, 159, 159, 0.35);
  transition: .3s; }
  .breadcrumb__section--active {
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #F16D7F; }
  .breadcrumb__section:hover {
    color: #F16D7F; }

.breadcrumb__divider {
  margin: 0 6px 0 3px; }

.product__wrapper {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.product__carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.product__button {
  position: absolute;
  top: 40%;
  padding: 17px 20px;
  background-color: #d8d8d8;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s; }
  .product__button:hover {
    color: #F16D7F;
    background-color: #d8d8d8; }
  .product__button--prev {
    left: 0; }
  .product__button--next {
    right: 0; }

.product__description {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1141px;
  width: 100%; }

.product__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F; }
  .product__title:after {
    display: block;
    content: "";
    width: 65px;
    height: 5px;
    background-color: #F16D7F;
    margin: 12px auto 0; }

.product__subtitle {
  margin-top: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #2f2f2f; }

.product__text {
  margin-top: 67px;
  width: 95%;
  max-width: 618px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(159, 159, 159, 0.35); }

.product__descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
  margin-top: 28px; }

.product__descr-item {
  color: rgba(159, 159, 159, 0.35);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.product__price {
  margin-top: 37px;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center; }

.product__choose {
  width: 55%;
  margin-top: 43px;
  border-top: 1px solid #eaeaea; }

.product__pict {
  width: 100%;
  display: flex;
  justify-content: center; }

.product__img {
  width: 100%;
  max-width: 600px; }

.form-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  width: 100%; }
  @media (min-width: 768px) {
    .form-add {
      padding-top: 63px; } }

.form-add__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #6F6E6E; }
  .form-add__label select {
    margin-left: 10px; }
  @media (min-width: 768px) {
    .form-add__label {
      font-size: 14px;
      line-height: 17px; } }

.form-add__wrap {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 400px; }

.form-add__label input {
  width: 30px;
  margin-left: 10px; }

.form-add__button {
  margin-top: 63px; }

.form-add__item {
  position: relative;
  display: flex; }
  .form-add__item select {
    border: none;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E; }
    @media (min-width: 768px) {
      .form-add__item select {
        font-size: 14px;
        line-height: 17px; } }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0; }

.form-add__input {
  text-align: center;
  border: 1px solid rgba(159, 159, 159, 0.35);
  outline: none; }

.form-add__icon {
  margin-right: 10px; }

.form-reg__btn-icon {
  margin-left: 10px; }

.pagination {
  margin-top: 60px;
  display: flex;
  padding: 0;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  width: 100%;
  max-width: 296px; }

.pagination__item {
  display: flex;
  transition: .3s; }
  .pagination__item:hover .pagination__link {
    color: #F16D7F; }

.pagination__link {
  color: rgba(159, 159, 159, 0.35);
  padding: 8px 16px;
  text-decoration: none; }
  .pagination__link--arrow {
    color: rgba(159, 159, 159, 0.35); }
  .pagination__link--active {
    color: #F16D7F; }

.filters {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-left: 0;
  margin-right: auto; }
  @media (min-width: 1264px) {
    .filters {
      width: 65%; } }

.filters__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer; }

.filter {
  position: relative; }
  .filter:hover .filter__big-title {
    color: #F16D7F; }
  .filter:hover .filter__icon {
    color: #F16D7F; }

.filters__sort:not(:nth-of-type(1)) {
  margin-left: 28px; }

.filters__sort {
  display: flex;
  align-items: center; }

.filter__big-title {
  display: none;
  z-index: 6; }
  @media (min-width: 768px) {
    .filter__big-title {
      display: block; } }

.filter__icon {
  z-index: 6;
  margin-left: 10px; }

.filter__list {
  display: none;
  flex-direction: column;
  position: absolute;
  left: -10px;
  top: -30px;
  background-color: white;
  width: 330px;
  margin-top: 20px;
  padding: 17px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 5; }
  .filter__list--active {
    display: flex; }
  @media (min-width: 768px) {
    .filter__list {
      left: -20px; } }

.filter__title {
  margin-top: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  border-left: 5px solid #F16D7F;
  padding: 10px 0 10px 11px;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer; }

.filter__list-mini {
  margin-top: 24px; }

.filter__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 6px;
  cursor: pointer;
  transition: .3s; }
  .filter__subtitle:hover {
    color: #F16D7F; }

details > summary {
  list-style: none; }

details > summary::-webkit-details-marker {
  display: none; }

input {
  box-sizing: border-box; }

.form-reg {
  width: 360px; }

.registration__wrapper {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.registration__descr {
  margin-left: 128px;
  max-width: 652px; }

.registration__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.registration__subtitle {
  margin-top: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.registration__list {
  margin-top: 22px;
  list-style-type: "V   "; }

.registration__item {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  color: #000000; }

.form-reg__item {
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0; }
  .form-reg__item--horizontal {
    flex-direction: row; }

.form-reg__item:not(:nth-of-type(1)) {
  margin-top: 31px; }

.form-reg__text-help {
  margin-top: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1; }

.input-box {
  margin-top: 20px;
  width: 100%;
  padding: 13px 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  outline: none; }

.input-radio {
  margin-right: 10px; }

.label-radio {
  margin-right: 20px; }

.form-reg__button {
  margin-top: 40px;
  padding: 16px 29px;
  background-color: #f16d7f;
  border: none;
  outline: none;
  color: white;
  cursor: pointer; }

.good {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 734px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: relative;
  gap: 30px;
  overflow: hidden;
  max-height: 300px; }
  @media (min-width: 1264px) {
    .good {
      max-width: 652px; } }

.good::after {
  content: "";
  display: block;
  background-image: url("../img/close.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5%;
  right: 2%; }

.good__pict {
  display: flex;
  max-width: 45%;
  overflow: hidden; }

.good__img {
  vertical-align: middle;
  width: 100%;
  object-fit: cover; }

.good__text {
  padding-right: 20px;
  max-width: 283px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%; }

.good__text-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  display: flex;
  align-items: center; }
  .good__text-item--pink {
    color: #EF5B70; }
  .good__text-item span, .good__text-item input {
    margin-left: 10px; }
  @media (min-width: 600px) {
    .good__text-item {
      font-size: 22px;
      line-height: 26px; } }

.good__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }
  @media (min-width: 600px) {
    .good__title {
      font-size: 24px;
      line-height: 29px; } }

.good__text-input {
  width: 45px;
  height: 24px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid rgba(159, 159, 159, 0.35);
  outline: none; }

.good__text-wrap {
  margin-top: 30px; }

.output__wrapper {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 1264px) {
    .output__wrapper {
      flex-direction: row;
      align-items: flex-start; } }

.output__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center; }

.output__info {
  margin-top: 50px; }
  @media (min-width: 1264px) {
    .output__info {
      margin-top: 0; } }

.output__change {
  margin-top: 72px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 100%; }
  @media (min-width: 1264px) {
    .output__change {
      justify-content: space-between; } }

.output__goods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1264px) {
    .output__goods {
      width: fit-content; } }

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .info {
      flex-direction: row;
      gap: 15px;
      justify-content: space-around; } }
  @media (min-width: 1264px) {
    .info {
      align-items: flex-start;
      flex-direction: column;
      max-width: 360px; } }

.info__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }

.info__input {
  margin-top: 20px;
  max-width: 360px;
  padding: 14px 17px;
  border: 1px solid rgba(159, 159, 159, 0.35);
  outline: none;
  resize: none;
  width: 100%; }

.info__data {
  width: 100%;
  max-width: 360px; }

.info__checkout {
  max-width: 360px; }

.button {
  padding: 9px 15px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  outline: none;
  cursor: pointer;
  color: #000000;
  transition: .3s;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: center; }
  .button:hover {
    border: 1px solid #F26376;
    background-color: #F26376;
    color: #ffffff; }
  .button--pink {
    border: 1px solid transparent;
    background-color: #F26376;
    color: #ffffff; }
    .button--pink:hover {
      background-color: #ffffff;
      color: #2f2f2f; }
  .button--half-circle {
    border: 1px solid transparent;
    padding: 16px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px; }
  @media (min-width: 768px) {
    .button {
      font-size: 16px;
      line-height: 17px;
      padding: 17px 40px; } }
  .button--small {
    padding: 8px; }

.checkout {
  background-color: #F5F3F3;
  padding: 39px 34px;
  width: 100%;
  margin-top: 57px; }

.checkout__texts {
  display: block;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 21px;
  text-align: right; }

.checkout__button {
  margin-top: 17px;
  width: 100%; }

.checkout__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A; }

.checkout__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px; }
  .checkout__title span {
    color: #F16D7F; }

.checkout__price {
  margin-left: 30px; }

.nav {
  background-color: #ffffff;
  padding: 37px 34px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 768px) {
    .nav {
      padding: 0 34px 37px; } }

.nav__title-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column; }

.nav__big-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  color: #000000;
  width: 100%; }
  @media (min-width: 768px) {
    .nav__big-title {
      display: none; } }

.nav__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F; }

.nav__item {
  margin-top: 24px; }

.nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
  padding: 5px 15px 5px;
  display: flex;
  justify-content: center;
  width: 100%; }
  @media (min-width: 768px) {
    .nav__link {
      width: 180px; } }
  .nav__link a {
    color: #6F6E6E; }
  .nav__link:hover a {
    color: #F16D7F; }

.nav__close {
  align-self: flex-end;
  padding: 5px; }

.nav__list {
  padding: 0; }

.chapter {
  background-color: #f8f3f4; }

.chapter__wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 768px) {
    .chapter__wrapper {
      justify-content: space-between;
      flex-direction: row; } }

.chapter__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  text-align: center; }

.sort {
  position: relative;
  transition: .3s; }
  .sort:hover .sort__title,
  .sort:hover .sort__icon {
    color: #F16D7F; }

.sort__icon {
  margin-left: 5px;
  color: #323232;
  display: none;
  font-size: .6rem;
  margin-bottom: 2px; }
  .sort__icon--active {
    display: block; }
  @media (min-width: 768px) {
    .sort__icon {
      font-size: 1rem;
      margin-left: 10px; } }

.sort__title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #6F6E6E; }
  @media (min-width: 768px) {
    .sort__title {
      font-size: 14px;
      line-height: 17px; } }

.sort__list {
  padding: 7px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  transform: translateY(20px);
  flex-direction: column;
  z-index: 5;
  background-color: white; }
  .sort__list--active {
    display: flex; }
  .sort__list label {
    width: 100px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E; }

.sort__input {
  margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
