.container {
  max-width: 1140px;
  margin: 0 auto; }

* {
  margin: 0;
  box-sizing: border-box; }

a,
a:hover,
a:focus {
  text-decoration: none; }

ul {
  list-style-type: none; }

.header {
  background-color: #222222; }

.header__wrapper {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header__item:not(:nth-of-type(1)) {
  margin-left: 25px; }

.header__item {
  cursor: pointer; }

.header__menu {
  margin-left: auto; }

.header__search {
  flex-basis: 70%;
  margin-left: 16px; }

.search-form {
  display: flex;
  align-items: center;
  position: relative; }

.search-form__input {
  width: 100%;
  height: 28px;
  background-color: #222222;
  border: none;
  outline: none;
  color: white;
  padding-left: 40px; }

.search-form__icon {
  position: absolute; }

.promo {
  background-color: #F1E4E6; }

.promo__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.promo__pictures {
  background-image: url("../img/promo-pict.png");
  background-repeat: no-repeat;
  background-position: left;
  width: 50%;
  height: 768px; }

.promo__content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px; }

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #222222; }

.promo__text {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32x;
  color: #222222; }
  .promo__text span {
    color: #F16D7F; }

.offer__wrapper {
  padding-top: 65px; }

.offer__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; }

.offer__name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff; }

.offer__type {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F; }

.offer__link {
  width: 360px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.offer__link:last-of-type {
  width: 100%;
  height: 180px; }

.offer__link:nth-of-type(1) {
  background-image: url("../img/offer-item-1.jpg"); }

.offer__link:nth-of-type(2) {
  background-image: url("../img/offer-item-2.jpg"); }

.offer__link:nth-of-type(3) {
  background-image: url("../img/offer-item-3.jpg"); }

.offer__link:nth-of-type(4) {
  background-image: url("../img/offer-item-4.jpg"); }

.products__wrapper {
  padding-top: 96px;
  padding-bottom: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.products__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222; }

.products__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F; }

.products__list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
  align-items: center; }

.products__link {
  margin-top: 63px;
  border: 1px solid #F26376;
  padding: 15px 39px; }

.products__link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376; }

.card {
  cursor: pointer;
  width: 360px; }

.card__text {
  padding: 20px 18px; }

.card__title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000; }

.card__description {
  margin-top: 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D; }

.card__price {
  margin-top: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F; }

.advantages {
  background-color: #222224; }

.advantages__wrapper {
  padding-top: 104px;
  padding-bottom: 104px; }

.advantages__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 30px; }

.advantages__item {
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.advantages__title {
  margin-top: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB; }

.advantages__text {
  text-align: center;
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB; }

.review {
  background-image: url("../img/review-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.review__wrapper {
  padding-top: 96px;
  padding-bottom: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }

.review__content {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.review__text {
  margin-top: 30px;
  ont-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224; }

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.subscribe__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224; }

.subscribe__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224; }

.subscribe__form {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 356px; }

.subscribe__input {
  padding: 17px 22px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  outline: none;
  background-color: #E1E1E1; }

.subscribe__button {
  background: #F16D7F;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer; }

.footer {
  background-color: #222224; }

.footer__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between; }

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB; }

.social {
  display: flex;
  align-items: center;
  flex-direction: row; }

.social__item {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.social__item:not(:nth-of-type(1)) {
  margin-left: 8px; }

.breadcrumb {
  background-color: #f8f3f4; }

.breadcrumb__wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between; }

.breadcrumb__list {
  display: flex;
  align-items: center;
  flex-direction: row; }

.breadcrumb__section {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #636363; }
  .breadcrumb__section--active {
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #f16d7f; }

.breadcrumb__divider {
  margin: 0 6px 0 3px; }

.product__wrapper {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.product__carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.product__button {
  padding: 17px 20px;
  background-color: #d8d8d8;
  border: none;
  outline: none;
  cursor: pointer; }

.product__description {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1141px; }

.product__divider {
  margin-top: 14px;
  width: 150px;
  height: 1px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center; }
  .product__divider:after {
    content: "";
    display: block;
    width: 40%;
    height: 3px;
    background-color: #ef5b70; }

.product__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F; }

.product__subtitle {
  margin-top: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D; }

.product__text {
  margin-top: 67px;
  width: 618px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E; }

.product__descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
  margin-top: 28px; }

.product__descr-item {
  color: #b9b9b9;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.product__descr-span {
  color: #2f2f2f;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal; }

.product__price {
  margin-top: 37px;
  color: #ef5b70;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center; }

.product__choose {
  width: 65%;
  padding: 63px 53px;
  margin-top: 43px;
  border-top: 1px solid #eaeaea; }

.form-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.form-add__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .form-add__label select {
    margin-left: 10px; }

.form-add__wrap {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.form-add__label {
  width: 33%; }
  .form-add__label input {
    width: 30px;
    margin-left: 10px; }

.form-add__button {
  margin-top: 63px;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #F26376;
  background-color: white;
  cursor: pointer; }
  .form-add__button p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    margin-left: 22px; }

.pagination {
  margin-top: 60px;
  display: flex;
  padding: 0;
  border: 1px solid #C4C4C4;
  border-radius: 4px; }

.pagination__item {
  display: flex; }

.pagination__link {
  color: #C4C4C4;
  padding: 8px 16px;
  text-decoration: none; }
  .pagination__link--active {
    color: #F26376; }

.pagination__item:nth-of-type(1) .pagination__link,
.pagination__item:last-of-type .pagination__link {
  color: black; }

.filter {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
  margin-left: 0;
  margin-right: auto; }

.filter__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer; }
  .filter__item--position {
    position: relative; }
  .filter__item--position:hover .filter__list {
    display: flex; }

.filter__sort:not(:nth-of-type(1)) {
  margin-left: 28px; }

.filter__sort {
  display: flex;
  align-items: center; }

.filter__big-title {
  z-index: 2; }

.filter__list {
  display: none;
  flex-direction: column;
  position: absolute;
  left: -20px;
  top: -30px;
  background-color: white;
  width: 327px;
  margin-top: 20px;
  padding: 17px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); }

.filter__title {
  margin-top: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  border-left: 5px solid #f16d7f;
  padding: 10px 0 10px 11px;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer; }

.filter__list-mini {
  margin-top: 24px; }

.filter__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 6px;
  cursor: pointer; }

input {
  box-sizing: border-box; }

.form-reg {
  width: 360px; }

.registration__wrapper {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.registration__descr {
  margin-left: 128px;
  max-width: 652px; }

.registration__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.registration__subtitle {
  margin-top: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.registration__list {
  margin-top: 22px;
  list-style-type: "V   "; }

.registration__item {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.form-reg__item {
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0; }
  .form-reg__item--horizontal {
    flex-direction: row; }

.form-reg__item:not(:nth-of-type(1)) {
  margin-top: 31px; }

.form-reg__text-help {
  margin-top: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1; }

.input-box {
  margin-top: 20px;
  width: 100%;
  padding: 13px 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1; }

.input-radio {
  margin-right: 10px; }

.label-radio {
  margin-right: 20px; }

.form-reg__button {
  margin-top: 40px;
  padding: 16px 29px;
  background-color: #f16d7f;
  border: none;
  outline: none;
  color: white;
  cursor: pointer; }

.good {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 652px;
  height: 306px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: relative; }

.good::after {
  content: "";
  display: block;
  background-image: url("../img/close.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5%;
  right: 2%; }

.goods__list {
  display: flex;
  flex-direction: column;
  gap: 30px; }

.good__img {
  max-width: 262px; }

.good__text {
  padding-left: 31px;
  padding-top: 22px;
  padding-bottom: 60px;
  max-width: 262px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%; }

.good__text-item {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: flex;
  align-items: center; }
  .good__text-item--pink {
    color: #EF5B70; }
  .good__text-item span, .good__text-item input {
    margin-left: 10px; }

.goods__change {
  margin-top: 72px;
  display: flex;
  justify-content: space-between; }

.good__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222; }

.good__text-input {
  width: 45px;
  height: 24px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  outline: none; }

.output__wrapper {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }

.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.info__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }

.info__input {
  margin-top: 20px;
  width: 360px;
  padding: 14px 17px;
  border: 1px solid #A4A4A4;
  outline: none;
  resize: none; }

.info__input {
  margin-top: 23px; }

.button {
  padding: 17px 40px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  outline: none;
  cursor: pointer;
  color: #000000; }

.checkout {
  background-color: #F5F3F3;
  padding: 39px 34px;
  width: 100%;
  margin-top: 57px; }

.checkout__texts {
  display: block;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 21px;
  text-align: right; }

.checkout__button {
  margin-top: 17px;
  width: 100%; }

.checkout__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A; }

.checkout__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px; }
  .checkout__title span {
    color: #f16d7f; }

.checkout__price {
  margin-left: 30px; }

/*# sourceMappingURL=style.css.map */
