.advantages {
  background-color: $accent-bg;
}

.advantages__wrapper {
  padding-top: 104px;
  padding-bottom: 104px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  gap: 30px;
  padding: 0;

  @media (min-width: 1264px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item {
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantages__title {
  margin-top: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: $lite2-accent-text;
}

.advantages__text {
  text-align: center;
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: $lite2-accent-text;
}