.breadcrumb__list {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.breadcrumb__section {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $breadcrumb-text;
  transition: .3s;

  &--active {
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: $breadcrumb-text-active;
  }

  &:hover {
    color: $breadcrumb-text-active;
  }
}

.breadcrumb__divider {
  margin: 0 6px 0 3px;
}