.breadcrumb__list {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.breadcrumb__section {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $lite-accent-text;
  transition: .3s;

  &--active {
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: $accent-details;
  }

  &:hover {
    color: $accent-details;
  }
}

.breadcrumb__divider {
  margin: 0 6px 0 3px;
}