.chapter {
  background-color: $chapter-bg;
}

.chapter__wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
}

.chapter__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}