.filters {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
  margin-left: 0;
  margin-right: auto;
}

.filters__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.filter {
  position: relative;

  &:hover {
    .filter__big-title {
      color: $accent-details;
    }
    .filter__icon {
      color: $accent-details;
    }
  }
}

.filters__sort:not(:nth-of-type(1)) {
  margin-left: 28px;
}

.filters__sort {
  display: flex;
  align-items: center;
}

.filter__big-title {
  z-index: 6;
}

.filter__icon {
  z-index: 6;
  margin-left: 10px;
}

.filter__list {
  display: none;
  flex-direction: column;
  position: absolute;
  left: -20px;
  top: -30px;
  background-color: white;
  width: 327px;
  margin-top: 20px;
  padding: 17px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 5;

  &--active{
    display: flex;
  }
}

.filter__title {
  margin-top: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $accent-details;
  border-left: 5px solid $accent-details;
  padding: 10px 0 10px 11px;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}

.filter__list-mini {
  margin-top: 24px;
}

.filter__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 6px;
  cursor: pointer;

  &:hover {
    color: $accent-details;
  }
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}