.footer {
  background-color: $accent-bg;
}

.footer__wrapper {
  padding-top: 43px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    padding-top: 30px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $lite2-accent-text;
  margin-top: 40px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
