.form-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;

  @media (min-width: 768px) {
    padding-top: 63px;
  }
}

.form-add__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #6F6E6E;

  select {
    margin-left: 10px;
  }

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.form-add__wrap {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 400px;
}

.form-add__label {

  input {
    width: 30px;
    margin-left: 10px;
  }
}

.form-add__button {
  margin-top: 63px;
}
.form-add__item {
  position: relative;
  display: flex;

  select {
    border: none;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

.form-add__input {
  text-align: center;
  border: 1px solid $lite-accent-text;
  outline: none;
}

.form-add__icon {
  margin-right: 10px;
}

.form-reg__btn-icon {
  margin-left: 10px;
}