.good {
  display: flex;
  align-items: center;
  flex-direction: row;
  width:100%;
  max-width: 734px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: relative;
  gap: 30px;
  overflow: hidden;
  max-height: 300px;

  @media (min-width: 1264px) {
    max-width: 652px;
  }
}

.good::after {
  content: "";
  display: block;
  background-image: url("../img/close.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5%;
  right: 2%;
}

.good__pict {
  display: flex;
  max-width: 45%;
  overflow: hidden;
}

.good__img {
  vertical-align:middle;
  width: 100%;
  object-fit: cover;
}


.good__text {
  padding-right: 20px;
  max-width: 283px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.good__text-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  display: flex;
  align-items: center;

  &--pink {
    color: #EF5B70;
  }

  span, input {
    margin-left: 10px;
  }

  @media (min-width: 600px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.good__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $accent-text;

  @media (min-width: 600px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.good__text-input {
  width: 45px;
  height: 24px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid $lite-accent-text;
  outline: none;
}

.good__text-wrap {
  margin-top: 30px
}
