.header {
  background-color: $accent-bg;
  position: relative;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__item:not(:nth-of-type(1)){
  margin-left: 25px;
}

.header__item {
  cursor: pointer;
}

.header__menu {
  margin-left: auto;
  padding: 20px;

  @media (min-width: 768px) {
    position: relative;
  }
}

.header__search {
  flex-basis: 70%;
  margin-left: 16px;
}

.header__nav{
  z-index: 10;
  position: absolute;
  left: 0;
  top: 67px;
  width: 100%;

  @media (min-width: 768px) {
    width: fit-content;
  }
}

.header__account {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.header__trash {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.header__icon {
  font-size: 1.7rem;
  color: $lighteen-text;
}

.header__menu-btn {
  width: 25px;
}
