.header {
  background-color: $accent-bg;
  position: relative;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__item:not(:nth-of-type(1)){
  margin-left: 25px;
}

.header__item {
  cursor: pointer;
}

.header__menu {
  margin-left: auto;
  position: relative;
  padding: 20px;

  &:hover{
    .header__nav {
      display: block;
    }
  }
}

.header__search {
  flex-basis: 70%;
  margin-left: 16px;
}

.header__nav{
  display: none;
  position: absolute;
  border-top: 5px solid black;
  left: 0;
  top: 61px;
}
