.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
  }

  @media (min-width: 1264px) {
    align-items: flex-start;
    flex-direction: column;
    max-width: 360px;
  }
}

.info__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $accent-text;
}

.info__input {
  margin-top: 20px;
  max-width: 360px;
  padding: 14px 17px;
  border: 1px solid $lite-accent-text;
  outline: none;
  resize: none;
  width: 100%;
}

.info__data {
  width: 100%;
  max-width: 360px;
}

.info__checkout {
  max-width: 360px;
}