.pagination {
  margin-top: 60px;
  display: flex;
  padding: 0;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  width: 100%;
  max-width: 296px;
}

.pagination__item {
  display: flex;
  transition: .3s;

  &:hover {
    .pagination__link {
      color: $accent-details;
    }
  }
}

.pagination__link {
  color: $lite-accent-text;
  padding: 8px 16px;
  text-decoration: none;

  &--arrow {
    color: $lite-accent-text;
  }

  &--active {
    color: $accent-details;
  }
}
