.products__wrapper {
  padding-top: 96px;
  padding-bottom: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: $accent-bg;
  text-align: center;
}

.products__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $lite-accent-text;
  text-align: center;
  margin-top: 5px;
}

.products__list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  align-items: center;
}

.products__link {
  margin-top: 63px;
}


