.product__wrapper {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.product__button {
  position: absolute;
  top: 40%;
  padding: 17px 20px;
  background-color: $btn-next;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $accent-details;
    background-color: $btn-next;
  }

  &--prev{
    left: 0;
  }

  &--next {
    right: 0;
  }
}


.product__description {
  background-color: $accent-btn;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1141px;
  width: 100%;
}

.product__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: $accent-details;

  &:after {
    display: block;
    content: "";
    width: 65px;
    height: 5px;
    background-color: $accent-details;
    margin: 12px auto 0;
  }
}

.product__subtitle {
  margin-top: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: $btn-text-bright-less;

}

.product__text {
  margin-top: 67px;
  width: 95%;
  max-width: 618px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $lite-accent-text;
}

.product__descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
  margin-top: 28px;
}

.product__descr-item {
  color: $lite-accent-text;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.product__price {
  margin-top: 37px;
  color: $accent-details;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.product__choose {
  width: 55%;
  margin-top: 43px;
  border-top: 1px solid $form-add-border-top;
}

.product__pict {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product__img {
  width: 100%;
  max-width: 600px;
}