.registration__wrapper {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.registration__descr {
  margin-top: 50px;
  width: 92%;
  max-width: 652px;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 128px;
  }
}

.registration__title  {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $darken-text;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.registration__subtitle {
  margin-top: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $darken-text;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.registration__list {
  margin-top: 22px;
  list-style-type: "V   ";
}

.registration__item {
  font-style: normal;
  font-weight: 300;
  font-size:16px;
  line-height: 25px;
  color: $darken-text;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 40px;;
  }
}

