.search-form {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    .search-form__input {
      background-color: $header-search-hover;
    }
  }
}

.search-form__input {
  width: 100%;
  height: 28px;
  background-color: $accent-bg;
  border: none;
  outline: none;
  color: $accent-text;
  padding-left: 40px;
}

.search-form__icon {
  position: absolute;
}
