.social {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.social__item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social__item:not(:nth-of-type(1)) {
  margin-left: 8px;
}