.subscribe {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 360px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.subscribe__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: $accent-text;
}

.subscribe__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: $accent-text;
}

.subscribe__form {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}

.subscribe__input {
  padding: 17px 22px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: $accent-text;
  opacity: 0.67;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  outline: none;
  background-color: $subscr-input;
  transition: .3s;

  &:hover {
    background-color: $subscr-input-hover;
  }
}